*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #f8f8f8;
}

.logo img{
    height: 48px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 24px;
    border: 2px solid black;
}
#home .box{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 24px;
    /* border: 2px solid red; */
}

#home .left{
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.vertical{
    position: relative;
    top: 20%;
    transform: rotate(90deg);
}

.intro{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;;
}
.stats{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.intro .name h1{
    font-size: 10em;
    margin: 0;
}
#about{
    background-color: #f8f8f8;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}
.dev-img{
    height: 868px;
}
.button{
    background-color: transparent;
    border: none;
    color: black;
}

.icon{
    height: 124px;
}

#about .box{
    width: 28vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 24px;

}

#about .left{
    display: flex;
    gap: 30px;
    align-items: start;
    flex-direction: column;
}
#about .centre{
    background-color: white;
    margin: 24px;
}