@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    margin: 0px;
    background: #000;
    color: #00ff9c;
    font-family: 'Source Code Pro', monospace;
    padding: 30px;
}

.cursor {
    display: inline-block;
    width: 10px;
    background: #00ff9c;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

section {
    margin-bottom: 35px;
}

.command {
    color: #00d9ff;
}

a {
    color: #00ff9c;
    text-decoration: none;
}

#terminal {
    max-width: 100vh;
    margin: auto;
}

.command {
    font-size: large;
    color: #00d9ff;
    margin-top: 12px;
}

.output {
    font-size: medium;
    color: #e5e5e5;
    margin-left: 20px;
    white-space: pre-wrap;
    margin-top: 2px;
    margin-bottom: 2px;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}